.square {
	height: 100px;
	width: 100px;
	background-color: khaki;
	border: 10px solid black;
}

/* dogs are adorable especially doomslayer also taco */
/* dogs-are-adorable-especially-doomslayer-also-taco  kebob case */
/* dogsAreAdorableEspeciallyDoomslayerAlsoTaco camel case */
/* DogsAreAdorableEspeciallyDoomslayerAlsoTaco upper-camel-case or PascalCase*/
/* dogs_are_adorable snake case*/

.square-container {
	background-color: red;
}
